<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="main.css">
</head>
<body>
<section class="todoapp" id="app">
    <header class="header">
        <h1>todos</h1>
        <p class="error" v-show="error">{{error}}</p>
        <input class="new-todo"
               autofocus autocomplete="off"
               placeholder="What needs to be done?"
               v-model="inputValue"
               @keyup.enter="addTodo"
        >
    </header>
    <section class="main">
        <input class="toggle-all" type="checkbox" v-model='input'>
        <ul class="todo-list">
            <li class="todo" 
                v-for="todo in getAllTodos" 
                v-bind:class="isCompleted(todo.status)"
            >
                <div class="view">
                    <input 
                        class="toggle" 
                        type="checkbox" 
                        v-model="todo.status"
                    >
                    <label>{{todo.value}}</label>
                    <button @click="deleteTodo(todo.id)" class="destroy"></button>
                </div>
                <input class="edit" type="text">
            </li>
        </ul>
    </section>
    <footer class="footer">
    <span class="todo-count">
      <strong>remaining  </strong>{{count}}
    </span>
        <ul class="filters">
            <li><a 
                    :class="{selected: !type}"
                    href="javascript:void(0)"
                    @click="setFilter()"
                 >All</a></li>
            <li><a 
                    :class="{selected: type === 'active'}"
                    href="javascript:void(0)"
                    @click="setFilter('active')" 
                >
            Active</a></li>
            <li><a :class="{selected: type === 'completed'}" 
                href="javascript:void(0)" @click="setFilter('completed')"
            >Completed</a></li>
        </ul>
        <button @click="clearCompleted" class="clear-completed">
            Clear completed
        </button>
    </footer>
</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.js"></script>
<script src="start.js"></script>

</body>
</html>
